<div align="center">
<h2>"AM I BROKE? CALCULATOR"</h2>


<p>This is all your money: $<%=@total%></p>
<% if @total < 100 %>
  <p>You broke, get mo' money!</p>
  <% elsif @total > 1000 && @total < 1000000 %>
  <p>You are a thousandaire!</p>
  <% elsif @total > 1000000 %>
  <p>You made it! You are a MILLIONAIRE!</p>
<% end %>

<p>Your largest expesnse was $<%= @big_expense.max.amount %>!
<p>Number of transactions:<%=@total_transactions%> </p>

<p><%= link_to 'New Transaction', new_transaction_path %>
&nbsp;&nbsp;<%= link_to 'Transactions', transactions_path %></p>
</div>
